.product_section{
    color: white;
    /* display: grid; */
    /* place-items: center; */
    min-height: 80vh;
    /* align-content: center; */
    margin:60px;
    border-radius: 60px;
    background-color: rgba(215, 215, 215, 0.078);
    /* backdrop-filter: blur(4px); */
    z-index: 3;
    box-shadow: 0px 1px 8px #00000034;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
   
}

.hidden_slide{
    opacity: 0;
    transform:translateX(-100%);
    /* filter:blur(5px); */
    transition: all 0.5s ease-in-out;
}

.show_slide{
    opacity:1;
    transform:translateX(0);
    /* filter:blur(0); */
}

.hidden{
    opacity: 0;
    /* filter: blur(5px); */
    transition: all 2s;
}

.show{
    opacity:1;
    /* filter:blur(0) */
}

.heading{
    padding: 20px;
    border-radius: 30px;    background-color: rgba(215, 215, 215, 0.078);
    /* backdrop-filter: blur(4px); */
    box-shadow: 1px 1px 8px #00000034;
}

h2{
    font-size: 35px;
    line-height: 54px;
    

}

.view_btn{
    margin-top: 40px;
    font-size: 20px;
    background-color: #B31312;
    color:#ffffff;
    border-radius: 30px;
    padding: 10px 40px 10px 40px;
    font-weight: 500;
    cursor: pointer;
    border:none;
    text-align: center;
    transition: 0.25s ease;

}

.view_btn:hover{
    background-color: white;
    color: black;
}

.img_slide{

    width:235px;
    height: 235px;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
    background-color: rgba(215, 215, 215, 0.078);
    /* backdrop-filter: blur(4px); */
    box-shadow: 1px 1px 8px #00000034;

}

.img_slide:hover{
    transition: 0.25s ease;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;

}

.logo:nth-child(1){
    transition-delay: 1s;
}

.logo:nth-child(2){
    transition-delay: 1.2s;
}

.logo:nth-child(3){
    transition-delay: 1.4s;
}

.logo:nth-child(4){
    transition-delay: 1.6s;
}

.btn:nth-child(1){
    transition-delay: 1s;
}
@media (max-width: 999px) {
    .heading{
        width: 70vw;
    }
}
